[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "docketanalyzer"
version = "0.4.2"
authors = [
    { name = "Nathan Dahlberg" },
]
description = "Docket Analyzer"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "docketanalyzer-core>=0.1.4",
]

[project.optional-dependencies]
dev = [
    "docketanalyzer-core[dev]>=0.1.4",
    "mkdocs>=1.5.0",
    "mkdocs-material>=9.0.0",
    "mkdocstrings[python]>=0.24.0",
    "mkdocs-pygments>=0.0.2",
]
all = [
    "docketanalyzer-chat>=0.1.0",
    "docketanalyzer-pacer>=0.1.0",
    "docketanalyzer-ocr>=0.1.1",
]
chat = ["docketanalyzer-chat>=0.1.0"]
pacer = ["docketanalyzer-pacer>=0.1.0"]
ocr = ["docketanalyzer-ocr>=0.1.1"]

[tool.ruff]
lint.select = ["E", "F", "I", "B", "UP", "N", "SIM", "PD", "NPY", "PTH", "RUF", "D"]
lint.ignore = ["D100", "D104"]

[tool.ruff.lint.isort]
known-first-party = [
    "docketanalyzer",
    "docketanalyzer_core",
    "docketanalyzer_chat",
    "docketanalyzer_ml", 
    "docketanalyzer_ocr", 
    "docketanalyzer_pacer", 
]
section-order = ["future", "standard-library", "third-party", "first-party", "local-folder"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["I001", "I002"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.pytest.ini_options]
log_cli = true
log_cli_level = "INFO"
addopts = "-ra -q --cov=docketanalyzer"
testpaths = ["tests"]
pythonpath = "."

[project.scripts]
da = "docketanalyzer:cli"
