anthropic
awscli
boto3
bs4
click
datasets
django
django-postgres-copy
elasticsearch
faiss-cpu
flake8
groq
instructor
juriscraper
openai
pandas
psycopg2-binary
pydantic
python-dotenv
regex
requests
sentencepiece
simplejson
sqlalchemy
tiktoken
toolz
torch
tqdm
transformers
twine
uuid
wget
