anthropic
awscli
boto3
bs4
click
cohere
elasticsearch
gradio
groq
juriscraper
openai
pandas
pathlib
pdfplumber
peewee
psycopg2-binary
pydantic
pytesseract
python-dotenv
python-magic
regex
requests
simplejson
tiktoken
toolz
tqdm
twine
