accelerate
anthropic
awscli
boto3
bs4
click
cohere
datasets
django
django-allauth
django-browser-reload
django-cors-headers
django-elasticsearch-dsl
django-extensions
django-htmx
django-postgres-copy
django-render-block
django-storages
django-tailwind
django-widget-tweaks
djangorestframework
elasticsearch
faiss-cpu
flake8
groq
instructor
juriscraper
marko[toc]
openai
pandas
pdfplumber
psycopg2-binary
pydantic
PyJWT
pymemcache
pytesseract
python-dotenv
python-magic
regex
requests
scikit-learn
sentencepiece
simplejson
sqlalchemy
tiktoken
toolz
torch
tqdm
transformers
twine
uuid
wget
whitenoise
